nav, footer{
    height: 61px;
    background-color: #333;
    color:white;
    text-align:center;
   
}
.body{
    height: 36.65rem;
}     

header{
                   margin: -8px;
}
footer{
    padding: 7px 0px 0px 0px;
    margin: 59% -8px -7px -9px;
}               
.topnav{
overflow: hidden;
background-color: #333;
}
.topnav a{
float: left;
color: cyan;
text-align: center;
padding: 22px 16px;
text-decoration: none;
font-size:17px;
}
.topnav a:hover{
background-color:#ddd;
color: black;
}
.topnav a:active{
background-color:green;
color:black
}
.search-container{
float: right;
}
input[type=text], button {
padding: 6px;
margin-top: 15px;
font-size: 17px;
border: none;
}
button{
margin-right: 16px;
margin-left: -4px;
}
.container{
    background-color: #333;
    padding: 7px 7px 45px 8px;
    margin: 4% 53% 0% 4%;
    border-radius: 14px;
}
.container:hover{
    box-shadow: 0 0 20px cyan;
}
.container1{
    background-color: #333;
    padding: 9px 9px 41px 8px;
    margin: -47% 4% 0% 54%;
    border-radius: 14px;
}
.container1:hover{
    box-shadow: 0 0 20px cyan;
}
.container2{
    background-color: #333;
    padding: 7px 8px 45px 8px;
    margin: 2% 53% 0% 4%;
    border-radius: 14px;
}
.container2:hover{
    box-shadow: 0 0 20px cyan;
}
.container3{
    background-color: #333;
    padding: 7px 8px 45px 8px;
    margin: -47% 4% 0% 54%;
    border-radius: 14px;
}
.container3:hover{
    box-shadow: 0 0 20px cyan;
}
p{
    text-align: center;
    color: aquamarine;
}
h2{
    text-align: center;
    color: aquamarine;
}
img{
    height: 84%;
    width: 81%;
    padding: 0px 0px 0px 60px;
}
h4{
    text-align: center;
    color: cyan;
}
h4:hover{
    color:#45a049;
    text-shadow:0 0 20px #45a049;
}
